@import "../node_modules/bootstrap/dist/css/bootstrap.css";

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.badge {
  cursor: pointer;
  font-size: 10px;
}

img.cover {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
