@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  background-color: #1c1c27;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card {
  background-color: #222233;
}

.badge {
  cursor: pointer;
  font-size: 9px;
}

.text-bg-dark {
  background-color: #565870 !important;
}

img.cover {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.form-control,
.form-control:focus {
  background-color: #222233;
  color: white;
  border: #1c1c27;
}

#header {
  background-color: #1c1c27;
}

#main {
  margin-top: 110px;
}

.sticky {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-primary {
  background-color: #222233;
  border-color: #1c1c27;
  color: white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus-visible,
.btn-primary.active {
  background-color: #565870 !important;
  border-color: #222233 !important;
}

a,
a:hover {
  color: #dc3545;
}

.text-decoration-none {
  text-decoration: none;
}
